<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Recipe Book</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item" *ngIf="isAuth"><a class="nav-link" routerLinkActive="active" routerLink="/recipes">Recipes</a></li>
        <li class="nav-item" *ngIf="!isAuth"><a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/shopping-list">Shopping List</a></li>
      </ul>
      <ul class="navbar-nav navbar-right" *ngIf="isAuth">
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click)="onLogout()">Logout</a>
        </li>
        <li class="nav-item dropdown" ngbDropdown display="dynamic" placement="bottom-end">
          <a ngbDropdownToggle style="cursor: pointer;" id="menudropdown1" role="button" class="nav-link dropdown-toggle" aria-expanded="false">Manage</a>
          <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="menudropdown1">
            <li><a ngbDropdownItem class="dropdown-item" style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
            <li><a ngbDropdownItem class="dropdown-item" style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
