<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-fluid" style="max-height:300px;"/>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div ngbDropdown class="dropdown">
      <button ngbDropdownToggle type="button" id="manageRecipeMenu" aria-expanded="false" class="btn btn-primary dropdown-toggle">Manage Recipe</button>
      <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="manageRecipeMenu">
        <li><a ngbDropdownItem style="cursor: pointer;" (click)="onAddToShoppingList()">Add to Shopping List</a></li>
        <li><a ngbDropdownItem style="cursor: pointer;" (click)="onEditRecipe()">Edit Recipe</a></li>
        <li><a ngbDropdownItem style="cursor: pointer;" (click)="onDeleteRecipe()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
